@import '../vendor/constants.scss';

.form {
  width: 100%;
  display: grid;

  &__fieldset {
    padding: 32px 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid #e5e4e4;
    display: grid;
    gap: 40px;

    &_ctrl_email {
      border: none;
    }
    &_ctrl_email {
      padding-bottom: 40px;
    }
  }

  &__input-container {
    @extend %grid-shared;
    position: relative;
  }

  &__select-wrapper {
    position: relative;
  }

  &__select-wrapper::before {
    content: url(../images/arrow.svg);
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: -1;
  }

  &__input-error {
    grid-column: 2/3;
    font-size: calc(0.67 * #{$base-size});
    line-height: 110%;
    height: 40px;
    color: #ff0000;
    position: absolute;
    top: 35px;
    left: 0px;
  }

  &__item {
    border: 1px solid #999999;
    box-sizing: border-box;
    background: none;
    font-size: calc(0.76 * #{$base-size});
    line-height: 119%;
    padding: 6px 12px;

    &_city {
      width: 100%;
      appearance: none;
      cursor: pointer;
    }

    &-prompt {
      padding: 0;
      margin: 0;
      font-size: calc(0.67 * #{$base-size});
      line-height: 167%;
      color: #999999;
    }

    &-wrapper {
      grid-column: 2/4;
      display: flex;
      align-items: center;
    }

    &_agreement {
      width: 12px;
      height: 12px;
      border: 1px solid #999999;
      margin-right: 10px;
      padding: 0;
      box-sizing: content-box;
      cursor: pointer;

      &_check {
        background-image: url(../images/yes.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__checkbox-about {
    font-size: calc(0.76 * #{$base-size});
    line-height: 119%;
  }

  &__button {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    width: 119px;
    height: 40px;
    left: 324px;
    top: 619px;
    background: #71c838;
    box-shadow: 0px 1px 0px #539d22;

    &_disabled {
      background: #c0c5bd;
      box-shadow: 0px 1px 0px #6d6d6d;
    }
  }
}
